body {
  direction: rtl;
  text-align: right;
}
.google-button {
  background-color: #4285F4; /* رنگ آبی گوگل */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto; /* وسط چین کردن دکمه */
}

.google-button:hover {
  background-color: #357ae8; /* تغییر رنگ هنگام هاور */
}
