body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.hello-text {
    font-size: 32px;
    color: blue;
    position: absolute;
}

.hello-text:nth-child(1) {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
